<%- include("../../partials/head.ejs") %> <%-
include("../../partials/navbar.ejs") %>
<div class="container p-3">
  <div class="card p-3">
    <h2 class="mb-3">Edição de categoria</h2>
    <form method="POST" action="/categories/update">
      <input
        class="form-control"
        type="text"
        name="title"
        id=""
        placeholder="Título"
        value="<%= category.title %>"
      />
      <input type="hidden" name="id" value="<%= category.id %>" />
      <button class="btn btn-primary mt-3">Atualizar</button>
    </form>
  </div>
</div>
<%- include("../../partials/footer.ejs") %>
